#Resource count (RC 3)
RC 2,4,8,16,32
#graph height (GH 6) 
GH 5,10,25
#task count (TC 20)
TC 50,100,200
#average out_degree (AOD 2)
AOD 3
#communication to computation ratio (CCR 2.0)
CCR 0.01,0.1,10
#Heterogenity factor (HF 0.5)
# 0 <= HF < 1
HF 0.2,0.5,0.8,1.0

#Communication data packet range (CDR 10 100)
CDR 10 100
#Link Bandwidth range (LBW 10 100)
LBW 10 100

#RANDOM seed value SEED
SEED 9000
# HEFT ROOT PATH
ROOT /mnt/home/dikbayir/CSE845/dev/heft
